# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/


.DS_Store
.idea/

# Mongo - Single Instance deployed via yaml
dhaapi-mongo/venv/
dhaapi-mongo/.idea/

# PostgreSQL - Single Instance deployed via yaml
dhaapi-pg/venv/
dhaapi-pg/.idea/

# RedisDB - Single Instance Master + 2 Replicas and 3 Sentinels
dhaapi-redis-sentinel/venv/
dhaapi-redis-sentinel/.idea/

# RedisDB - deployed as 3 Master + 1 Replica each via HELM
dhaapi-redis-sharded/venv/
dhaapi-redis-sharded/.idea/

# Lets keep these out of the git repo
aws/secure.md

# Cornerstone Issuer
# exclude binaries that
issuer-kit/controller/bin/issuer-kit_controller
issuer-kit/controller/bin/issuer-kit_controller.exe
# Cornerstone Issuer - exclude log files
issuer-kit/controller/issuer-kit_controller.log
issuer-kit/controller/issuer-kit_server.log

# Local copy of modules and libraries.
aws/02.terraform/**/.DS_Store
aws/02.terraform/**/.terraform/**
aws/02.terraform/**/.terraform*
aws/02.terraform/**/terraform*

aws/02.terraform/**/.terraform/*
aws/02.terraform/**/.terraform/
aws/02.terraform/**/.terraform

aws/02.terraform/**/.terraform/providers/*
aws/02.terraform/**/.terraform/providers/
aws/02.terraform/**/.terraform/providers

aws/02.terraform/**/.terraform/providers/registry.terraform.io/hashicorp/*
aws/02.terraform/**/.terraform/providers/registry.terraform.io/hashicorp/
aws/02.terraform/**/.terraform/providers/registry.terraform.io/hashicorp

aws/02.terraform/v0.4c/**/providers/registry.terraform.io/gavinbunney/kubectl/1.14.0/darwin_amd64/terraform-provider-kubectl_v1.14.0
aws/02.terraform/v0.4c/**/providers/registry.terraform.io/hashicorp/helm/2.5.1/darwin_amd64/terraform-provider-helm_v2.5.1_x5
aws/02.terraform/v0.1/**/providers/registry.terraform.io/hashicorp/aws/3.75.1/darwin_amd64/terraform-provider-aws_v3.75.1_x5
aws/02.terraform/v0.1/**/providers/registry.terraform.io/hashicorp/aws/4.11.0/darwin_amd64/terraform-provider-aws_v4.11.0_x5
aws/02.terraform/v0.4c/**/providers/registry.terraform.io/hashicorp/aws/4.13.0/darwin_amd64/terraform-provider-aws_v4.13.0_x5
aws/02.terraform/v0.2/**/providers/registry.terraform.io/hashicorp/aws/4.12.0/darwin_amd64/terraform-provider-aws_v4.12.0_x5
aws/02.terraform/v0.3/**/providers/registry.terraform.io/hashicorp/aws/4.12.1/darwin_amd64/terraform-provider-aws_v4.12.1_x5

aws/02.terraform/v0.4c/.terraform/providers/registry.terraform.io/hashicorp/helm/2.5.1/darwin_amd64/terraform-provider-helm_v2.5.1_x5
aws/02.terraform/v0.4c/.terraform/providers/registry.terraform.io/gavinbunney/kubectl/1.14.0/darwin_amd64/terraform-provider-kubectl_v1.14.0
aws/02.terraform/v0.1/.terraform/providers/registry.terraform.io/hashicorp/aws/3.75.1/darwin_amd64/terraform-provider-aws_v3.75.1_x5
aws/02.terraform/v0.4c/.terraform/providers/registry.terraform.io/hashicorp/aws/4.13.0/darwin_amd64/terraform-provider-aws_v4.13.0_x5
aws/02.terraform/v0.1/.terraform/providers/registry.terraform.io/hashicorp/aws/4.11.0/darwin_amd64/terraform-provider-aws_v4.11.0_x5 
aws/02.terraform/v0.2/.terraform/providers/registry.terraform.io/hashicorp/aws/4.12.0/darwin_amd64/terraform-provider-aws_v4.12.0_x5 
aws/02.terraform/v0.3/.terraform/providers/registry.terraform.io/hashicorp/aws/4.12.1/darwin_amd64/terraform-provider-aws_v4.12.1_x5

aws/02.terraform/v0.3/.terraform/providers/registry.terraform.io/hashicorp/aws/4.12.1/darwin_amd64/terraform-provider-aws_v4.12.1_x5 
aws/02.terraform/v0.1/.terraform/providers/registry.terraform.io/hashicorp/aws/3.75.1/darwin_amd64/terraform-provider-aws_v3.75.1_x5 
aws/02.terraform/v0.4c/.terraform/providers/registry.terraform.io/hashicorp/aws/4.13.0/darwin_amd64/terraform-provider-aws_v4.13.0_x5
aws/02.terraform/v0.1/.terraform/providers/registry.terraform.io/hashicorp/aws/4.11.0/darwin_amd64/terraform-provider-aws_v4.11.0_x5 
aws/02.terraform/v0.2/.terraform/providers/registry.terraform.io/hashicorp/aws/4.12.0/darwin_amd64/terraform-provider-aws_v4.12.0_x5 

